body{
background-color:#EEEEEE;

/* background: rgb(255,124,124); */
/* background: linear-gradient(180deg, rgba(255,124,124,1) 0%, rgba(252,120,120,1) 33%, rgba(252,143,143,1) 37%, rgba(252,190,190,1) 57%, rgba(245,153,153,1) 81%, rgba(232,93,93,1) 100%); */
font-family: 'Roboto Slab', serif;
/* background-repeat:no-repeat;
background-size: 1550rem; */

}
table{

  border-collapse:separate;





}
th{
  background-color: #1DB9C3;


}

td{

padding-left: 3rem;
padding-top: 1rem;
}



.topcolor
{
background-color:#1DB9C3;
padding-bottom: 2rem;
margin: 0;
}

.tables{
align-content: center;

}


.headings{
background-color:#1DB9C3;

}





.medals{
width: 30px;
height: 30px;
border-radius: 50%;
}

.vote_now_img{
border-radius: 50%;
width:25px;
height:25px;
}

.slideimg{
border-radius:;
  height: 25rem;
  width:83.5rem;
}

.Rank{
  padding-right:0;
}
.profile{
padding-right:5rem;

}


.Names{
  padding-right:20rem;
}

.Points{

  padding-right:5rem;
  margin-left: 5rem;
  align-content: center;
}

.vote{
  padding-right:0rem;


}
.losers{
  text-align:left;
}

.color-me{
color: black;
}

.footer{
background-color: #1DB9C3;
}


.container
{
display: flex;
justify-content: center;
align-items: center;
max-width: 70px;
flex-wrap: wrap;
padding: 120px 0;
}

.container .card
{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
                inset -4px -4px 4px rgba(355,355,355,0.5);
                4px 4x 4px rgba(0,0,0,0.5);
               -4px -4px 4px rgba(355,355,355,0.5);
border-radius: 15px;
margin: 40px;
  }

/*
/* changes of card background hight,with and etc */


.container .card .box
{
position: absolute;
top: 20px;
left: 20px;
right: 20px;
bottom: 20px;
background: #ebf5fc;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
}

.container .card .box .content h2
{
position: absolute;
top: -10px;
right: 30px;
font-size: 8rem;
color: rgba(0.0.0.0.05)
transition:0.05s;
pointer-events: none;
}
.container .card .box .content h2
{
  color: rgba(0, 0, 0, 0.5);
}
.container .card .box .content h3
{
  font-size: 1.1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content p
{
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content a
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}






.img-rivel{
  width: 120px;
  height: 130px;
  background-image: url(img/rivel.j);
  background-size: 50%;
}
